doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us
  head
    title To delete previous record of web login credentials 
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/readWebRec.js')
  body
    p The web that your login user-name and password to be deleted: #{urlObj.url}
    p(data-url=urlObj.url) List of user name and password of this website
    p#none
    table
      tbody
    p Please click DELETE button to delete the login credential from this browser
    button#delete
      |DELETE
    br
    p#del
    br
    p#bkup
    br
    br
  footer
    p The entirety of this site is protected by copyright @2024 1FirstPass company limited
    address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
    p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy