//Called from logPasswHdlr.js
doctype html
html
  head Fail 3 attempts password log in
    title
  body
  h1 Sorry! you have failed password logging in 3 attempts
  script(src='/scripts/camOff.js')
  h2 Back to Home/signup page
     ul.nav.navbar-nav
        li.active
           a(href='/') Home