doctype html
html
  head Fail 3 attempts face log in
    title
  body
  h1 Sorry! you have failed face logging in 3 attempts
  h2 Back to Home/signup page
     ul.nav.navbar-nav
        li.active
           a(href='/') Home