doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us
 
  head
    title To retrieve the password
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/webPwd.js')
  body
  p(data-url=webObj.url) The website that you requested: #{webObj.url}
  table
    tbody
  p If you want to browse to new URL page, please press new URL button to open new url page.
  button#newWin
   | New Window: #{webObj.url}
  script.
    var newUrl='#{webObj.url}';
    if (!newUrl.startsWith('http')) {
       newUrl = 'https://' + newUrl; // Default to HTTPS if no protocol is present
    }
    document.getElementById('newWin').addEventListener('click', function() {
      window.open(newUrl);
    });
  br
  br
  footer
    p The entirety of this site is protected by copyright @2024 1FirstPass company limited
    address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
    p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy