//Called from appAccess.js
doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
                a(href='/aboutUs') About us   
          colspan.nav
                a(href='/contactUs') Contact us  
 
  head
    title Your new websites (Called from /webAccess)
    link(rel='stylesheet', href='/stylesheets/newUrl.css')
    script(src='/scripts/newApp.js')
	
  body
    h1(data-newAppt=apptObj.appt) The new app that needs new username and password: #{apptObj.appt}
    p Select User Name, which after completed, will continue with password generation
    div#popupButt
        button User Name
        p Select Delete, in case wanting to delete previous app login record of : #{apptObj.appt}
        button Delete
        
    div#error-content 
      class.hidden
    script(src="/scripts/newAppt.js")
    br
    br
    footer
        p The entirety of this site is protected by copyright @2024 1FirstPass company limited
        address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
        p
        colspan 
            a(href='/tnc') Terms&Conditions  
        colspan 
            a(href='/privPo') Privacy Policy