doctype html
html
    nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
        p.nav.navbar-nav
            a(href='/')
                img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
            colspan.nav
                a(href='/') Home   
            colspan.nav
                a(href='/aboutUs') About us   
            colspan.nav
                a(href='/contactUs') Contact us
    head
        title postLogin 
        link(rel='stylesheet', href='/stylesheets/main.css')       
    body
        h1 Your login has been completed and valid.
        p Do you want to log in to old website or sign up to new website: 
        form(action='/webAccess', method='post') Please select: 
            br
            br
            input(checked='checked', name='oldNew', type='radio', value='new')
            | New website. 
            label(for='url') Please enter http(s)://URL
            input#nurl(type='URL', name='newUrl' placeholder="http(s)://www.example.com" pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" size="30")
            br
            br
            input#ourl(name='oldNew', type='radio', value='old')
            | Old website. 
            br
            br
            button(type='submit') Submit
    br
    br
    footer
        p The entirety of this site is protected by copyright @2024 1FirstPass company limited
        address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
        p
        colspan 
            a(href='/tnc') Terms&Conditions  
        colspan 
            a(href='/privPo') Privacy Policy