doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/aboutUs') About us   
          colspan.nav
              a(href='/contactUs') Contact us 
  head
    title Privacy Policy
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  h1 Privacy Policy
  article
  h2 1. Introduction
  p 1FirstPass.com (the "Website") is committed to protecting your privacy. 
   |This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our Services.
  h3 2. Information We Collect
  p    
   li Personal Information: We may collect personal information such as your name, email address, and any other information you voluntarily provide to us.
   li Usage Data: We may collect information on how the Services are accessed and used. This may include your IP address, browser type, pages visited, and other usage statistics.
  h4 3. Use of Your Information
  p We use the information we collect to:
   li Provide and maintain the Services
   li Improve, personalize, and expand our Services
   li Communicate with you, including for customer service, updates, and other information related to the Services
   li Monitor and analyze usage and trends to improve your experience
  h5 4. Sharing of Your Information
  p We do not share your personal information with third parties except:
   li With your consent
   li To comply with legal obligations
   li To protect and defend our rights and property
   li In the case of business transfers (e.g., merger, acquisition)
  h6 5. Security of Your Information
  p We use administrative, technical, and physical security measures to protect your personal information. However, no security measures are 100% secure, and we cannot guarantee absolute security.
  h7 6. Your Data Protection Rights
  p You have the right to:
   li Access, update, or delete the information we have on you
   li Withdraw consent at any time where we rely on your consent to process your personal information
   li Object to our processing of your personal information
   li Request portability of your personal information
  h8 7. Changes to This Privacy Policy
  p We may update this Privacy Policy from time to time. Any changes will be posted on this page, and you are encouraged to review the Privacy Policy periodically to stay informed of any updates.
  h9 8. Contact Information
  p If you have any questions or concerns about this Privacy Policy, please contact us at 
    a(href='/contactUs') Contact Us.
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy