doctype html
html
  nav.navbar.navbar-inverse
  .container-fluid
      .navbar-header
      p.nav.navbar-nav
          a(href='/')
              img(src='/images/1FirstPassLogo.png', alt='1FirstPass', heigth='auto', width='130')
          colspan.nav
              a(href='/') Home
          colspan.nav
              a(href='/postLogin') Select Old/New URL/APP
          colspan.nav
                a(href='/aboutUs') About us   
          colspan.nav
                a(href='/contactUs') Contact us
  head
    title
    link(rel='stylesheet', href='/stylesheets/oldUrl.css')
    script(src='/scripts/getToken.js')
  body
    script(nonce=nonce).
          document.addEventListener('DOMContentLoaded', function() {      
              //var token = localStorage.getItem('authToken');          
          var newAppt = localStorage.getItem('newAppt');
          console.log('newAppt: ', newAppt);
              document.getElementById('newAppt').value= newAppt || '';
              //document.getElementById('authToken').value = token || '';
          });
          
  .contentarea
  | User name form generation
  p#passwForm
  form(action='/genApptUn', id='formUserN', method='post') Please enter self user name or format for auto-creation of user name.
   br
   br
   li
     lable(for='self') Self provided name:
     input#self(type='text', name='self')
     br
     br
     button#self(type='submit') Submit
     br
     p For auto-creation of user name, please fill in below.
     br
   li
     label(for='length') Length of user name:
     input#length(type='number', name='length')
     br
     br
   li
     |Lowercase requirement
     input#lowCase(checked='checked', type='radio', name='lowCase', value='yes')
     |Yes
     input(type='radio', name='lowCase', value='no')
     |No
     br
     br
   li
     |Uppercase requirement
     input#upCase(checked='checked', type='radio', name='upCase', value='yes')
     |Yes
     input(type='radio', name='upCase', value='no')
     |No
     br
     br
   li
     |Number character requirement
     input#numChar(checked='checked', type='radio', name='numChar', value='yes')
     |Yes
     input(type='radio', name='numChar', value='no')
     |No
     br
     br
   li
     |Special character requirement
     input#specChar(type='radio', name='specChar', value='yes')
     |Yes
     input(type='radio', name='specChar', value='no', checked='checked')
     |No
     br
     br
     button#auto(type='submit') Submit
     br
     input#newAppt(type='hidden', name='newAppt')
     input#authToken(type='hidden', name='token')
  br
  br
  footer
      p The entirety of this site is protected by copyright @2024 1FirstPass company limited
      address 84/23 Ratchapruek28 Road, Talingchan, Bangkok 10170, Thailand
      p
      colspan 
          a(href='/tnc') Terms&Conditions  
      colspan 
          a(href='/privPo') Privacy Policy