//Called from logPasswHdlr.js
doctype html
html
    head
        | Login complete
    body
        h1 Your login has been completed and valid.
        p Do you want to log in to old website or sign up to new website: 
        form(action='/webAccess', method='post') Please select: 
            br
            br
            input(checked='checked', name='oldNew', type='radio', value='new')
            | New website. 
            label(for='url') Please enter http(s)://URL
            input#nurl(type='URL', name='newUrl' placeholder="https://example.com" pattern="https://.*" size="30")
            br
            br
            input#ourl(name='oldNew', type='radio', value='old')
            | Old website. 
            br
            br
            button(type='submit') Submit