p.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    background-color: palegreen;
    font: bold 22px arial;
    color: blue;
    width: 100%;
    height: 135px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.navbar img {
    height: auto;
    width: 130px;
}

colspan.nav {
    background-color: palegreen;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 100px;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12 {
    padding-top: 15px;
    color: blueviolet;
    font: 20px arial;
}
body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 900px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
.otpContainer {
    display: flex;
    justify-content: left;
    gap: 10px; /* Adjust spacing between input boxes */
}

.otpInput {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.otpInput:focus {
        border-color: #007bff; /* Highlight color on focus */
}
footer {
    background-color: darkblue;
    color: aqua;
    width: 100%;
    border-top: 3px solid green;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

colspan {
    background-color: darkblue;
    color: aqua;
    width: 100%;
    padding-left: 2px;
    padding-right: 100px;
}